NODE_ENV=development
DATABASE_URL="postgresql://user:password@localhost:5432/database?schema=public"
REDIS_URL="redis://localhost:6379"

PLAYWRIGHT_HEADLESS=false
PLAYWRIGHT_SLOW_MO=300

WORKER_CLIENTE_ID="ID_WORKER_CLIENTE_AQUI"

FONTEDATA_API_KEY=""
FONTEDATA_BASE_URL="https://app.fontedata.com/api/v1"
FONTEDATA_ENABLED=false