.git
.github
.gitignore

node_modules
**/node_modules
**/node_modules/**

.pnpm-store
**/.pnpm-store
**/.pnpm-store/**

.turbo
**/.turbo
**/.turbo/**

.next
**/.next
**/.next/**

dist
**/dist
**/dist/**

build
**/build
**/build/**

coverage
**/coverage
**/coverage/**

.env
.env.*
**/.env
**/.env.*
!**/.env.example

.DS_Store
*.log

playwright-report
test-results
