NODE_ENV=production

NEXT_PUBLIC_API_URL="https://api.imovelpratico.com.br/api"
NEXT_PUBLIC_APP_NAME="Imóvel Prático"
NEXT_PUBLIC_WEB_ADMIN_URL="https://admin.imovelpratico.com.br"
NEXT_PUBLIC_WEB_HOME_URL="https://www.imovelpratico.com.br"