NODE_ENV=production

DATABASE_URL="postgresql://USUARIO:SENHA@HOST:5432/BANCO?schema=public"
REDIS_URL="redis://HOST:6379"

WORKER_CLIENTE_ID="ID_DO_CLIENTE"
WORKER_NAME="worker-registro-windows-01"

PLAYWRIGHT_HEADLESS=true
PLAYWRIGHT_SLOW_MO=300
PLAYWRIGHT_LOCALE=pt-BR

REGISTRO_MIN_INTERVAL_SECONDS=30
