NODE_ENV=production

DATABASE_URL="postgresql://USUARIO:SENHA@HOST:5432/BANCO?schema=public"
REDIS_URL="redis://HOST:6379"

WORKER_CLIENTE_ID="ID_DO_CLIENTE"
WORKER_NAME="worker-cnd-windows-01"

PLAYWRIGHT_HEADLESS=false
PLAYWRIGHT_SLOW_MO=800
PLAYWRIGHT_LOCALE=pt-BR
PLAYWRIGHT_TIMEZONE=America/Sao_Paulo
PLAYWRIGHT_ACCEPT_LANGUAGE=pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7

# Para usar Google Chrome real instalado no Windows:
# PLAYWRIGHT_CHANNEL=chrome

# Opcional, caso queira apontar direto para um executável:
# PLAYWRIGHT_EXECUTABLE_PATH=C:\Program Files\Google\Chrome\Application\chrome.exe

CND_BEFORE_SEARCH_DELAY_MS=15000
CND_DEBUG_SCREENSHOTS=false

FONTEDATA_ENABLED=false
FONTEDATA_API_KEY=
FONTEDATA_BASE_URL=
