NODE_ENV=production

NEXT_PUBLIC_API_URL="https://api.imovelpratico.com.br/api"
NEXT_PUBLIC_APP_NAME="Imóvel Prático Admin"
NEXT_PUBLIC_WEB_CLIENT_URL="https://app.imovelpratico.com.br"
NEXT_PUBLIC_WEB_HOME_URL="https://www.imovelpratico.com.br"